#headerr{
    display: flex;
    height: 35px;
}

.flechasfondo{
    height: 35px;
    width: 10%;
    background-color: #cf6b0d;
    padding: 10px 10px 20px 15px;
    color:white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.flechasfondo:hover{
    
 background-color: #de893b;
 
 
}

.lamitadfecha{
    width: 90%;
    color:white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    background-color: #cf6b0d;
}

.lascasillas{
    padding: 5px;
    color: white;
    font-weight: bold;
    width: 50%;
    margin: 5px;
}