<div style="padding: 10px;">
    <div>
        <div style="margin-bottom: 10px;">
            <b>INGRESAR Usuario:</b>
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
               Nombre Completo:
            </div>
            <div>
                <input [(ngModel)]="NombreCompleto" type="text" />
            </div>
          
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
               UserName:
            </div>
            <div>
                <input [(ngModel)]="UserName" type="text" />
            </div>
          
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
                Password:
            </div>
            <div>
                <input [(ngModel)]="Password" type="text" />
            </div>
          
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
                Email:
            </div>
            <div>
                <input [(ngModel)]="Email" type="text" />
            </div>
          
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
                Sueldo:
            </div>
            <div>
                <input [(ngModel)]="Sueldo" type="text" />
            </div>
          
        </div>
        <div style="display: flex;height: 30px;">
            <div style="width: 120px;">
                Tipo:
            </div>
            <div>
                <select [(ngModel)]="eltipo">
                    <option [value]="1">Administrador</option>
                    <option [value]="2">Empleado</option>
                  
                </select>
            </div>
          
        </div>        
        <div>
            <button (click)="crear()" class="botones">Guardar</button>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <div>
            <b>Lista de usuarios:</b>            
        </div>        
    </div>
    <div>
        <div style="border: 1px solid black;width: 100%;" *ngFor="let item of lista">
            <div style="display: flex;width: 100%;">
                
                <div style="display: flex;width: 100%;" *ngIf="elusuario.Clase=='' ">
                    <div style="width: 50%;">
                        <div >
                            Nombre usuario:{{item.NombreUsuario}}
                        </div>
                        <div>
                           Email: {{item.Email}}
                        </div>
                        <div>
                            Pass:{{item.PasswordUsuario}}
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <div>
                           Sueldo: {{item.Sueldo}}
                        </div>
                        <div>
                           Nombre: {{item.NombreCompleto}}
                        </div>
                    </div>                                       
                </div>
               
                <div style="display: flex;width: 100%;" *ngIf="elusuario.Clase!='' ">
                    <div style="width: 50%;">
                        <div >
                           Nombre Usuario {{item.NombreUsuario}}
                        </div>
                        <div >
                           Email: {{item.Email}}
                        </div>                    
                    </div>
                    <div style="width: 50%;">                       
                        <div >
                            Nombre: {{item.NombreCompleto}}
                        </div>
                    </div>    
                </div>
               
                <div (click)="borrarusuario(item.NombreUsuario)" style="margin: 5px;padding: 12px 0px 0px 10px;width: 45px;cursor: pointer;">
                    <mat-icon>delete</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>