<div class="toolbar" role="banner">
    <img width="130"  src="../../../assets/img/LogoCordillera.png"/>
    <div>Bienvenido</div>
    
    <div class="spacer"></div>
    <div style="height: 20px;width: 100px;cursor: pointer;" (click)="cerrarsesion()"> Cerrar Sesion</div>
    
     
</div>

<div *ngIf="eltipo !='Mesero'">
    <mat-tab-group [(selectedIndex)]="tabindex">   
        <mat-tab label="Ventas"> 
            <ng-template mat-tab-label>
                <span (click)="ventascli()">Ventas</span>
            </ng-template><app-ventas></app-ventas>
        </mat-tab>
        <mat-tab label="Pedidos"> <ng-template mat-tab-label>
            <span (click)="pedidoscli()">Pedidos</span>
        </ng-template><app-admin-pedidos></app-admin-pedidos> </mat-tab>
        <mat-tab label="Salidas"> <app-salidas></app-salidas></mat-tab>
        <mat-tab label="Turnos"> <app-turnos></app-turnos> </mat-tab>
        <mat-tab label="Productos"> <app-adminproductos></app-adminproductos> </mat-tab>
        <mat-tab label="Historial"> <app-historial></app-historial> </mat-tab>
        <mat-tab label="Configuracion"> <app-configuracion></app-configuracion> </mat-tab>
        <mat-tab label="Usuarios"> <app-adminusu></app-adminusu> </mat-tab>
      
        <mat-tab label="Fin Mes"> 
            <ng-template mat-tab-label>
                <span (click)="ventascli()">Fin Mes</span>
            </ng-template><app-totales></app-totales>
        </mat-tab>
    </mat-tab-group>
</div>
<div *ngIf="eltipo=='Mesero'">
    <mat-tab-group [(selectedIndex)]="tabindex">          
        <mat-tab label="Pedidos"> <ng-template mat-tab-label>
            <span (click)="pedidoscli()">Pedidos</span>
        </ng-template><app-admin-pedidos></app-admin-pedidos> </mat-tab>       
    </mat-tab-group>
</div>



