

  .spacer {
    flex: 0.9;
    background-color: blue;
  }

  .toolbar {
    
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #cf6b0d;
    color: white;
    font-weight: 700;
  }

  