<div>
    <div *ngIf="opcion==0">      
        <div style="margin-top: 10px;">
            {{MensajeDinamico}}
        </div>
        <br/>
        <div style="text-align: center;">
            <button (click)="aceptarG()" class="botones">Aceptar</button>
        </div>
    </div>
    <div *ngIf="opcion==1">
        Seleccione tipo grafica:
        <br/>
        <div style="margin-top: 10px;">
            <label>Dia:</label>
            <input type="radio" id="tipos" [value]="0" [(ngModel)]="tipografica" value="Dia" />
            <label>Mes:</label>
            <input type="radio" id="tipos" [value]="1" [(ngModel)]="tipografica" value="Mes" />
            <label>Año:</label>
            <input type="radio" id="tipos" [value]="2" [(ngModel)]="tipografica" value="Año" />
        </div>
        <br/>
        <div style="text-align: center;">
            <button (click)="aceptarTipoF()" class="botones">Aceptar</button>
        </div>
    </div>
    <div *ngIf="opcion==2">
        <b>DATOS PRODUCTO:</b>
        <br/>
        <div style="margin-top: 10px;">
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Nombre:</b></div>
                <input type="text" [(ngModel)]="elproducto.Nombre" />
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Cantidad:</b></div>
                <input type="number" [(ngModel)]="elproducto.Cantidad"/>
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Precio:</b></div>
                <input type="number" [(ngModel)]="elproducto.Precio" />
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Imagen:</b></div>
                <input type="text" [(ngModel)]="elproducto.Imagen" />
            </div>
            <div>
                <div class="form-group">                  
                    <input type="file"
                           id="file"
                           (change)="handleFileInput($event)">
                </div>
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Tipo:</b></div>
                <select [(ngModel)]="elproducto.Tipo">
                    <option [value]="item.IdTipo" *ngFor="let item of listatipos">{{item.NombreTipo}}</option>
                </select>
            </div>
            <div>
                <div style="width: 35%;margin-bottom: 6px;"><b>Detalle:</b></div>           
                <textarea matInput style="width: 100%;height: 100px;" [(ngModel)]="elproducto.Detalle" placeholder=""></textarea>
            </div>  
            <div>
                <div style="width: 35%;margin-bottom: 6px;"><b>Activo:</b></div>           
                <input type="checkbox" [(ngModel)]="elproducto.Activo" />            
            </div>                                                          
        </div>
        <br/>
        <div style="text-align: center;">
            <button (click)="ModificarProd()" class="botones">Modificar</button>
        </div>
    </div>
    <div *ngIf="opcion==3">
        <b>Datos Configuracion:</b>
        <br/>
        <div style="margin-top: 10px;">
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Nombre:</b></div>
               {{elproducto.Nombre}}
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Valor 1:</b></div>
                <input type="text" [(ngModel)]="elproducto.Valor1"/>
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Valor 2:</b></div>
                <input type="text" [(ngModel)]="elproducto.Valor2" />
            </div>
            <div style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Descripcion:</b></div>
                <input type="text" [(ngModel)]="elproducto.Descripcion" />
            </div>          
            <div>
                <div style="width: 35%;margin-bottom: 6px;"><b>Activo:</b></div>           
                <input type="checkbox" [(ngModel)]="elproducto.Activo" />            
            </div>                                                          
        </div>
        <br/>
        <div style="text-align: center;">
            <button (click)="ModificarProd()" class="botones">Modificar</button>
        </div>
    </div>
    <div *ngIf="opcion==4">
        <b>CAJA DEL DIA:</b>
        <br/>
        <div style="margin-top: 10px;">
            <div *ngIf="!mostrarCaja" style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Ingrese valor apertura:</b></div>
                <input type="text" [(ngModel)]="elproductocaja.ValorIni"/>
                <button (click)="AbrirCaja()" style="margin-left: 10px;" class="botones">Abrir Caja</button>
            </div>  
            <div *ngIf="mostrarCaja" style="display: flex;margin-bottom: 6px;">
                <div  style="width: 35%;">
                    <div><b>Valor apertura:</b></div>
                    <p>{{elproductocaja.ValorInicial | currency}}</p>
                </div>
                <div style="width: 35%;" *ngIf="valorrealcaja>0">
                    <div><b>Valor real calculado:</b></div>
                    <p>{{valorrealcaja | currency}}</p>
                </div>       
                <div style="width: 35%;" *ngIf="valorrealcaja>0">
                    <div><b>Descuadre:</b></div>
                    <p>{{descuadree | currency}}</p>
                </div>  
            </div>  
            <div *ngIf="!lacerrarcaja" style="display: flex;margin-bottom: 6px;">
                <div style="width: 35%;"><b>Ingrese valor en caja:</b></div>
                <input type="text" [(ngModel)]="elproductocaja.EfectivoReal"/>
                <button (click)="CerrarCaja()" class="botones">Cerrar Caja</button>
            </div>   
            <div *ngIf="lacerrarcaja" style="margin-bottom: 6px;">
                <div style="display: flex;">
                    <div style="width: 35%;">
                        <div><b>valor en caja:</b></div>
                        <p>{{elproductocaja.EfectivoReal  | currency}}</p>
                    </div>
                    <div style="width: 35%;">
                        <div><b>valor Salidas:</b></div>
                        <p>{{salidas  | currency}}</p>
                    </div>
                   <div style="width: 35%;">
                        <div><b>valor Descuento:</b></div>
                        <p>{{valdescuentoo  | currency}}</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="width: 35%;">
                        <div><b>valor Efectivo:</b></div>
                        <p>{{efectivoo  | currency}}</p>
                    </div>
                    <div style="width: 35%;">
                        <div><b>valor Tarjeta:</b></div>
                        <p>{{ Tarjetaa | currency}}</p>
                    </div>
                   <div style="width: 35%;">
                        <div><b>valor Transferencia:</b></div>
                        <p>{{transfrenciaa  | currency}}</p>
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="width: 35%;">
                        <div><b>Total Licitado:</b></div>
                        <p>{{totallicitado  | currency}}</p>
                    </div>
                    <div style="width: 35%;">
                        <div><b>Ventas Brutas:</b></div>
                        <p>{{ventasbrutas  | currency}}</p>
                    </div>
                   <div style="width: 35%;">
                        <div><b>Ventas Netas:</b></div>
                        <p>{{ventasnetas  | currency}}</p>
                    </div>
                </div>
               
            </div>                                                              
        </div>
        <br/>
        <div style="text-align: center;display: flex;">            
            <button (click)="closecaja()" class="botones">Aceptar</button>
            <div style="margin-left: 10px;" *ngIf="lacerrarcaja">
                <button (click)="imprimir()" class="botones">Imprimir</button>
            </div>
           
        </div>
    </div>
</div>
