.elboton{
    border: 0px solid white;
    background-color: #cf6b0d;
    border-radius: 5px;
    width: 60px;
    padding: 10px;
    color: white;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
}

