*{
    margin: 0;
    padding: 0;
}

.sombra{
    filter: drop-shadow(-10px 10px 10px #212121);   
    z-index: 1; 
}
.sombra2{
    filter: drop-shadow(10px 10px 10px #212121);   
    z-index: 1;
}

.logo{
    position: relative;
    filter: drop-shadow(-13px -2px 2px  rgba(0,0,0,0.5));
}

.lamitad1{    
    margin-right: 5px;
    width: 100%;
}
.lamitad2{   
    margin-left: 5px;
    width: 100%;
}

.eldisplay{
    display: flex;
    width: 100%;
}

.centralcss path {
    fill: #9c3c23;  
}
.volcancss path {
    fill: red;  
}
.nevadocss path {
    fill: #277bd4;  
}
.tropicalcss path {
    fill: #f9d611;  
}
.occidentalcss path {
    fill: #f96611;  
}
.orientalcss path {
    fill: #f94711;  
}
.galerascss path {
    fill: #f92909;  
}
.vegecss path {
    fill: #1f9105;  
}


.content{
    width: 100%;
    background-color: black;
    min-height: 100vh;
    z-index: 2;
    color: white;
}

.eltexto{
    font-family: 'Cabin Sketch', cursive;
    color: white;
    font-size: 22px;
    z-index: 1000;
    position: relative;
    top: 60%;
    left: 1%;
    margin-left: 15px;
}


.content-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
}

.tex
{
    color: white;
    padding: 2rem 20rem;
    font-size: 1.1rem;
}
.titulo1{
    color: #9c3c23;font-size: 60px;font-weight: 300;
    padding-top: 30px;
  
}
.elhegith{
    height: 100vh;
}

#titulo11{
    background-image: url('../../assets/img/titulos.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vh;
    margin: 0 auto;
    width: 80%;
    text-align: center;font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    filter: drop-shadow(-22px 9px 1px    rgba(0,0,0,0.5));
}

@media (max-width: 990px){
    .eldisplay{   
        display: block;
        width: 100%;
    }
    .titulo1{
        color: #9c3c23;font-size: 40px;font-weight: 300;
      
       
    }
    .lamitad1{    
        margin-right: 5px;
        width: 100%;
    }
    .lamitad2{   
        margin-left: 5px;
        width: 100%;
    }
    .eltexto{
        font-family: 'Cabin Sketch', cursive;
        color: white;
        font-size: 22px;
        z-index: 1000;
        position: relative;
        top: 400px;
        left: 1%;
       
    }
    .lamitad2{   
        margin-right: 5px;
        width: 100%;
    }
    .sombra2{
        filter: drop-shadow(-10px 10px 10px #212121);   
        z-index: 1;
    }
  }